.nl-container{
    height: 60vh;
    background-color: #fcf5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nl-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nl-desc{
    font-family: "cursive";
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 30px;
}

.nl-input{
    width: 40%;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border: lightgray solid 1px;
}

.nl-email{
    border: none;
    flex: 8;
    padding-left: 20px;
}

.nl-button{
    flex: 1;
    border: none;
    background-color: teal;
    color: white;
    cursor: pointer;
}

